@media (max-width: 1100px) {
.nav li a {
	display:block;
	padding:10px 22px 10px 23px;
	font-family:'Roboto', sans-serif;
	font-size:13px;
	font-weight:400;
	color:#454545;
	text-transform:uppercase;
}
.flyout0 li a {
	display:block;
	padding:8px 12px;
	font-family:'Roboto', sans-serif;
	font-size:12px;
	font-weight:400;
	color:#fafafa;
	text-transform:none;
}
}

/*@media (max-width: 970px) and (min-width:768px) {*/
@media (max-width: 970px) {
.row {
	width:720px;
	margin:0 auto;
	position:relative;
}

.span1 {
	width:40px;
}
.span2 {
	width:100px;
}
.span3 {
	width:160px;
}
.span4 {
	width:220px;
}
.span5 {
	width:280px;
}
.span6 {
	width:340px;
}
.span7 {
	width:400px;
}
.span8 {
	width:460px;
}
.span9 {
	width:520px;
}
.span10 {
	width:580px;
}
.span11 {
	width:640px;
}
.span12 {
	width:700px;
}

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
	float:left;
	margin:0 10px;
}



.nav a#pull {
	display:block;
}

.nav ul {
	display:none;
}

.nav li {
	float:none;
	border-left:0px solid #ccc;
	border-bottom:1px solid #4f4f4f;
	background:#3f3f3f;
}
.nav li a {
	color:#f5f5f5;
}
.nav li.active, .nav li.active:hover {
	background:#d42540;
	border-left:0px solid #d42540;
}
.nav li:hover {
	border-left:0px solid #d42540;
	background:#4f4f4f;
}

.flyout0 {
	width:auto !important;
	position:relative;
	background:none;
}
.flyout0 li {
	border-bottom:0px solid #6f6f6f;
	border-left:0px solid #e53651;
	background:none;
}
.flyout0 li:hover {
	border-bottom:0px solid #6f6f6f;
	border-left:0px solid #e53651;
	background:none;
}
.flyout0 li a {
	color:#fff;
}

.flyout0 ul {
	width:auto !important;
	position:relative;
	left:0;
	top:auto !important;
	background:none;
}
.flyout0 ul li {
	border-bottom:0px solid #8f8f8f;
	background:none;
}
.flyout0 ul li:hover {
	background:none;
}

.nav li:hover .flyout0, .flyout0 li:hover ul {
	display:none;
}



.js .nav {
	display:none;
}
	
.js .slicknav_menu {
	display:block;
}



.head-block-black, .head-block-red {
	width:auto !important;
	height:40px;
	float:none;
	padding:0 0 0 10px;
	font-size:16px;
	color:#fff;
	line-height:40px;
}

.img-holder2 {
	width: auto;
	height: auto;
	float:none;
	margin:0 0 10px 0;
}


.aside-search-box input[type=text] {
	width:80%;
}


.listing-bull2 li {
	float:none;
	width:294px;
	background:url(../images/bull1.png) no-repeat 0 7px;
	padding:6px 0 6px 16px;
	margin:0 5px;
	border-bottom:1px solid #e5e5e5;
}


.aside-listing li img {
	float:none;
	margin:0 0 10px 0;
}


.gallery-box li {
	width:100%;
	float:none;
}
.gallery-box li img {
	width:auto;
	height:auto;
}

.footer .aside-block-grey {
	min-height:260px;
}
.listing-bullN li a .tmb {
width:auto;
height:100%;
}
}



@media (max-width: 768px) {

.row {
	width:100%;
	margin:0 auto;
	position:relative;
}

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
	width:96%;
	float:none !important;
	margin-top:0;
	margin-bottom:10px;
	margin-left:2%;
	margin-right:2%;
}

.banner-wrapper {
	display:none;
	margin-bottom:0px;
}

.footer .aside-block-grey {
	min-height:50px;
}

.copyright {
	display:block;
	margin-top:30px;
}


.visible-m {
	display:block;
}
.hidden-m {
	display:none;
}
.listing-bullN li a .tmb {
width:auto;
height:100%;
}
}



@media (max-width: 480px) {

.banner-wrapper2 h1.co-name {
    color: #CFDB0C;
    font-size: 24px;
	line-height:20px;
	color:#F00;
	text-align:center;
	text-shadow:0 1px 0 rgba(0,0,0,0.3);
    margin-top: 10px;
}

.banner-wrapper2 p.co-slogan {
    color: #FFFFFF;
    font-size: 14px;
	color:#727272;
    line-height: 12px;
	text-align:center;
}
.listing-bullN li a .tmb {
width:auto;
height:100%;
}
}